@media screen and (max-width:600px) {
    .vertical-bar {
        padding: 1em;
    }
    .main-container {
        height: 100vh;
        flex-direction: column-reverse;
        .column-one {
            padding: 0;
            align-items: flex-start;
            width: 75%;
            margin: 0 auto;
            justify-content: flex-start;
            .hey {
                font-size: 0.8rem;
            }
            .name-text {
                .main-text {
                    display: flex;
                    flex-direction: column;
                }
                .overflow {
                    overflow: unset;
                    height: unset;
                }
                p {
                    font-size: 1.4rem;
                }
            }
        }
        .column-two {
            display: none;
        }
    }
    .desktop-img {
        img {
            display: none;
        }
    }
    .column-mobile {
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        img {
            height: 70%;
        }
    }
    @keyframes animate {
        0% {
            margin-top: -30px;
        }
        5% {
            margin-top: -20px;
        }
        50% {
            margin-top: -20px;
        }
        55% {
            margin-top: 0px;
        }
        99.99% {
            margin-top: 0px;
        }
        100% {
            margin-top: -30px;
        }
    }
    .animated {
        animation: none
    }
    .main-frame {
        .project-heading {
            width: 100%;
            position: fixed;
            background-color: $primary-color;
            padding: 1em 4em 2em 4em;
            z-index: 100;
            p {
                font-size: 1rem;
            }
            .heading {
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
        .card-outer {
            padding-top: 6em;
        }
    }
    .about-frame {
        flex-direction: column;
        width: 80%;
        margin-right: unset;
        margin-top: unset;
        margin-bottom: unset;
        margin-left: auto;
        .photo-frame {
            width: unset;
            display: none;
        }
        img {
            display: none;
        }
        .intro-frame {
            h1 {
                font-size: 2rem;
            }
            .self-intro {
                width: 100%;
                font-size: 0.8rem;
            }
        }
    }
}

@media (min-width:601px) and (max-width:1023px) {
    .animated {
        animation: none
    }
    .main-container {
        .column-one {
            .name-text {
                p {
                    font-size: 2.5rem;
                }
                .overflow {
                    overflow: unset;
                    height: unset;
                }
            }
        }
    }
    .about-frame {
        height: unset;
        flex-direction: column;
        width: 80%;
        margin-right: unset;
        margin-top: unset;
        margin-bottom: unset;
        margin-left: auto;
        .photo-frame {
            width: unset;
            display: none;
        }
        img {
            display: none;
        }
        .intro-frame {
            h1 {
                font-size: 2rem;
            }
            .self-intro {
                width: 100%;
                font-size: 0.8rem;
            }
        }
    }
}